@import './variables.scss';
@import './layout.scss';
@import './colors.scss';
@import './fonts.scss';
@import './typography.scss';

:root {
  body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'FS Sinclair', sans-serif;
    font-weight: normal;

    #app {
      background-color: $defaultBgColor;
      color: $defaultTextColor;
      height: 100vh;
      font-family: 'Swiss 721', sans-serif;
    }
  }
  ::selection {
    background-color: rgba($primary, 0.7);
  }
}

* {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  line-height: 1;
}
